body{
  margin: 0px;
}
ul{
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.navbar{
  display: flex;
  justify-content: space-between;
  padding:10px;
  background-color: rgb(223, 211, 211);
  border: 1px solid rgb(211, 208, 208);
  box-shadow: 2px 2px  rgb(213, 216, 213);
}
.navbar > li{
  display: flex;
  align-items: center;
}

.button{
  cursor: pointer;
  border: 0px;
  padding: 5px 10px;
  border-radius: 10px 0px 10px 0px;
  
}

.button:hover{
  cursor: pointer;
  
}

.mainbutton{
  background-color: rgb(7, 87, 40);
  color: white;
  
  
     
}
.mainbutton:hover{
  
box-shadow: 1px 1px blueviolet;
transform: scale(1.3);
  
}
.logo {

  height: 70px;
}



.buscar{
  background-color: white;
  border: 1px solid black;
  border-radius: 10px 0px 10px 0px;g
  padding: 4px;
  width: 300px;
  display: flex;
  justify-content: space-between;


}
.buscar>input{
  outline: none;
  border: none;
}
.buscar:focus-within{
  border: 1px solid blue;
}
.iconoBusqueda:hover{
  color: blue;
}
.contenedorImagenes{
  width: 190px;
  height: 220px;
  display: flex;

}
.contenedorImagenes > img{
  object-fit: fill;
  width: 100%;
  

}
.alineacion{
  display: flex;
}
.breedcard{
  margin: 10px;
}